<html>
   <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </head>
   <body>
      <center>
         <h1>
            <font color="red"><img alt="Jumping for joy" width=96 height=97 src="http://www.sherv.net/cm/emo/happy/jumping-for-joy-smiley-emoticon.gif">Inventory Management System<img alt="Jumping for joy" width=96 height=97 src="http://www.sherv.net/cm/emo/happy/jumping-for-joy-smiley-emoticon.gif"></font></h1>
      </center>
      <div class="row">
        <div class="col-sm-3"></div>
             <div class="col-sm-3">
                <h3><font color="red">Product Details</font></h3>
                <table border="1" cellpadding="10" cellspacing="10">
                  <tr><th>Id</th><th>name</th><th>Quantity</th><th>Location</th></tr>
                  {% for row in data %}
                      <tr>
                      {% for d in row %}
                          <td>{{ d }}</td>
                      {% endfor %}
                      </tr>
                  {% endfor %}
                </table>
             </div>
             <div class="col-sm-4">
                  <h3><font color="red">Select Option</font></h3>
                  <a href="/createForm">Insert New Item</a>
                  <br>
                  <a href="/listItem">Show Item's by Location</a>
                  <br>
                  <a href="/updateForm">Update data</a>
            </div>
      </div>
   </body>
</html>