<html>
   <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </head>
   <body>
    <a href="/">Home</a>
   <center>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-5">
          <h3><font color="red">Product Details</font></h3>
          <form action="\itemlist" method="POST">
            <select name="store_location" onchange="this.form.submit()">
                <option value="select">Select Location</option>
                <option value="Shivajinagar">Shivajinagar</option>
                <option value="Kharadi">Kharadi</option>
                <option value="Banner">Banner</option>
                <option value="Kothrud">Kothrud</option>
            </select>
          </form>
          <table border="1" cellpadding="10" cellspacing="10">
              <tr><th>Name</th><th>Quantity</th><th>Location</th></tr>
              {% for row in data %}
                <tr>
                  {% for d in row %}
                    <td>{{ d }}</td>
                      {% endfor %}
                </tr>
              {% endfor %}
          </table>
      </div>
    </div>
    </center>
   </body>
</html>