<html>
<body>
<center>
	<img alt="Giving Thumbs Up Winking" width=76 height=85 src="http://www.sherv.net/cm/emoticons/yes/giving-thumbs-up-winking-smiley-emoticon.gif">
	  <h1><font color="green">Hello {{name}}</font></h1>
	  <h1><font color="green">Values updated successfully</font></h1>
	  <a href="/">Show Details</a>

  </center>
  </body>
  </html>