<html>
 <body>
     <a href="/">Home</a>

  <center>
  <h2><font color="red">Update Your Details</font></h2>
  <form action="\updateid" method="POST">
  <select name="store_location" id="location" onchange="this.form.submit()">
        <option value="select">Select</option>
        <option value="Shivajinagar">Shivajinagar</option>
        <option value="Kharadi">Kharadi</option>
        <option value="Banner">Banner</option>
        <option value="Kothrud">Kothrud</option>
    </select>
    </form>
  <form action="\update_details" method="post">
    {% for row in data1 %}
         <table border="0">
         <tr hidden="true">
         <th><h3>id:</th>
         <td><h3><input type="text" value="{{row[0]}}" name="id" readonly="true"></td>
         </tr></h2>
         <tr>
         <th><h3>name:</th>
         <td><input type="text" value="{{row[1]}}" name="name"></td>
         </tr></h2>
         <tr>
         <th><h3>quantity:</th>
         <td><input type="text" value="{{row[2]}}" name="quantity"></td>
         </tr></h2>
         <tr>
         <th hidden="true"><h2>Location:</th>
         <td><input type="text" value="{{row[3]}}" name="location" hidden="true"></td>
         </tr></h2>  
         
       <tr>
        <th><input type="submit" name="Update" value="Update"></th>
        </tr>
        </table>
    {% endfor %}
</form>
</center>
</body>
</html>
